body{
    background-color: #444!important;
}
body {
    margin: 0px 0 0 0;
    padding: 0;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #aaa;
    font-size: 18px;
}

h1 {
    color: #719e40;
    letter-spacing: -3px;
    font-family: 'Lato', sans-serif;
    font-size: 100px;
    font-weight: 200;
    margin-bottom: 0;
}

.main-header{
    margin-bottom: 50px;
}
.header {
    background: url('/images/header.png') no-repeat;
    height: 134px;
    z-index: 2;
}
.menu {
    background: url('/images/menu.png') no-repeat;
    height: 35px;
    margin-left: 4px;
    position: absolute;
    width:100%;
    z-index: 1;

}
.menu-ul{
    display: -webkit-box;
    margin-top: -25px;
    list-style-type: none;
}

.menu-ul li{
    padding: 10px 10px;
}
.menu-ul li a{
    color: red;
}

.footer {
    background: url('/images/footer.png') no-repeat;
    height: 200px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.content{
    background-color: #333;
    width: 100%;
    height: 100%;
    min-height: 600px;
}
.search{
    position: absolute;
    right: 42px;
    top: 22px;

    line-height: 1;

}
.search input{
    background-color: #ccc;
    border-radius: 5px!important;

}