<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><?php echo $title ?></title>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

    <?php include_once 'parts/_header.php'; ?>


    <div class="row" style="margin-top: 20px">
        <div class="col-md-10 col-lg-offset-1 well">

            <form id="register-form" method="POST" action="/add" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Название*</label>
                    <input type="text" id="title" name="title" class="form-control" required >
                </div>

                <div class="form-group">
                    <label>Текст*</label>
                    <textarea type="text" id="content" name="content" class="form-control" required rows="4"></textarea>
                </div>

                <div class="form-group">
                    <label>Изображение*</label>
                    <input type="file" id="file" name="file" class="form-control" required >
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Добавить</button>
                </div>
            </form>
        </div>

</div>

    <?php include_once 'parts/_footer.php'; ?>
</div>
</body>
</html>
