<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><?php echo $title ?></title>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">

    <?php include_once 'parts/_header.php'; ?>


    <div class="row" style="margin-top: 20px;margin-left: 0px;margin-right: 0px">
        <div class="col-md-12 well">
            <table class="table table-striped table-bordered">

                    <tr>
                        <td>ID</td>
                        <td>Заголовок</td>
                        <td>Содержание</td>
                        <td>Изображение</td>
                        <td>Действие</td>
                    </tr>

                <?php if($arrRecipes): ?>
                    <?php foreach ($arrRecipes as $res): ?>
                    <tr>
                        <td><?= $res['id']; ?></td>
                        <td><?= $res['title']; ?></td>
                        <td><?= $res['content']; ?></td>
                        <td><img src="<?=  '/uploads/'. $res['image']; ?>" height="150px"></td>
                        <td>
                            <a href="/update?id=<?=$res['id'] ?>" class="btn btn-default">Редактировать</a>
                            <a href="/delete?id=<?=$res['id'] ?>" class="btn btn-default">Удалить</a>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                <?php endif; ?>
            </table>
        </div>
</div>

    <?php include_once 'parts/_footer.php'; ?>
</div>
</body>
</html>
