<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title><?php echo $title ?></title>
    <link href='/css/main.css' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">

<?php include_once 'parts/_header.php'; ?>
?>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12 well">

            <form id="register-form" method="get" action="/register">
                <div class="form-group">
                    <label>Имя*</label>
                    <input type="text" id="name" name="name" class="form-control" required
                           value="<?= isset($_GET['name']) ? $_GET['name'] : ''; ?>">
                </div>

                <div class="form-group">
                    <label>Логин*</label>
                    <input type="text" id="login" name="login" class="form-control" required
                           value="<?= isset($_GET['login']) ? $_GET['login'] : '' ?>">
                </div>

                <div class="form-group">
                    <label>Пароль*</label>
                    <input type="text" id="password" name="password" class="form-control" required
                           value="<?= isset($_GET['password']) ? $_GET['password'] : '' ?>">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary pull-right">Далее</button>
                </div>
            </form>
        </div>
    </div>


<?php include_once 'parts/_footer.php'; ?>
</div>

</body>
</html>
